/* usar o media query para centralizar o box com a tela pequena */
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: black;
}
header{
    background-color: #48c5ce;
    text-align: center;
    color: white;
    padding: 0px;
}
.title{
    font-size: 26px ;
}
.container{
    max-width: 1000px;
    margin:auto;
}
.formContainer{
    max-width: 230px;
    background-color: #FFFFFFBB;
    padding: 20px;
    float: right;
}
h2{
    font-size: 16px;
}
.mb{
    margin-bottom: 15px ;
}
input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}
input[type="submit"]{
    color: white;
    background-color: #48c5ce;
    font-weight: bold;
}
section{
    padding: 20px;
    background-image: url(/images/people.jpg);
    background-size: cover;
    overflow: hidden;
}
select{ 
     -moz-animation: none;
     appearance: none;
     background-image: url(/images/arrow.jpg);
     background-repeat: no-repeat;
     background-position: calc(100% - 10px);
     background-position-y: center;  
} 
.picture{
    width: 160px;
}
footer{
    background-color: #202121;
    padding: 40px;
    text-align: center;
    /* como o display está inline block e só tenho uma imagem e texto o text aligne vai funcionar. */
}
.description{
    display: inline-block;
    color: white;
    max-width: 40%;
    margin-left: 40px;
    text-align: center;
}
.description p, .description h3{
    margin-bottom: 20px;
}
@media screen and ( max-width: 900px) {
    .formContainer{
        max-width: 100%;
        height: 420px;
        background-color: #FFFFFFBB;
        padding: 20px;
        clear: both;
        float: left;

    
    .mb{
        text-align: center;;
    }
}